<a href="https://colab.research.google.com/github/BatsyBoo/DS-PRAC/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as  np

In [35]:

# data = {
#     'Employment': [
#         'Employed', 'Employed', 'Unemployed', 'Student', 'Employed',
#         'Student', 'Unemployed', 'Employed', 'Student', 'Unemployed'
#     ],
#     'Income': [
#         'High', 'Medium', 'Low', 'Low', 'High',
#         'Medium', 'Low', 'Medium', 'Low', 'Medium'
#     ],
#     'CreditScore': [
#         'Good', 'Average', 'Poor', 'Average', 'Good',
#         'Poor', 'Poor', 'Average', 'Good', 'Poor'
#     ],
#     'LoanApproval': [
#         'Yes', 'Yes', 'No', 'No', 'Yes',
#         'No', 'No', 'Yes', 'Yes', 'No'
#     ]
# }
#new-->next

data = {
    'Employment': [
        'Employed', 'Employed', 'Unemployed', 'Student', 'Employed',
        'Student', 'Unemployed', 'Employed', 'Student', 'Unemployed',
        'Employed', 'Unemployed', 'Student', 'Employed', 'Self-Employed',
        'Unemployed', 'Employed', 'Self-Employed', 'Student', 'Unemployed',
        'Employed', 'Student', 'Self-Employed', 'Employed', 'Unemployed'
    ],
    'Income': [
        'High', 'Medium', 'Low', 'Low', 'High',
        'Medium', 'Low', 'Medium', 'Low', 'Medium',
        'High', 'Low', 'Low', 'High', 'High',
        'Low', 'Medium', 'High', 'Low', 'Low',
        'Medium', 'Medium', 'High', 'High', 'Low'
    ],
    'CreditScore': [
        'Good', 'Average', 'Poor', 'Average', 'Good',
        'Poor', 'Poor', 'Average', 'Good', 'Poor',
        'Good', 'Poor', 'Average', 'Good', 'Excellent',
        'Poor', 'Average', 'Excellent', 'Average', 'Poor',
        'Good', 'Poor', 'Excellent', 'Good', 'Poor'
    ],
    'LoanApproval': [
        'Yes', 'Yes', 'No', 'No', 'Yes',
        'No', 'No', 'Yes', 'Yes', 'No',
        'Yes', 'No', 'No', 'Yes', 'Yes',
        'No', 'Yes', 'Yes', 'No', 'No',
        'Yes', 'No', 'Yes', 'Yes', 'No'
    ]
}



df = pd.DataFrame(data)
print(df)

       Employment  Income CreditScore LoanApproval
0        Employed    High        Good          Yes
1        Employed  Medium     Average          Yes
2      Unemployed     Low        Poor           No
3         Student     Low     Average           No
4        Employed    High        Good          Yes
5         Student  Medium        Poor           No
6      Unemployed     Low        Poor           No
7        Employed  Medium     Average          Yes
8         Student     Low        Good          Yes
9      Unemployed  Medium        Poor           No
10       Employed    High        Good          Yes
11     Unemployed     Low        Poor           No
12        Student     Low     Average           No
13       Employed    High        Good          Yes
14  Self-Employed    High   Excellent          Yes
15     Unemployed     Low        Poor           No
16       Employed  Medium     Average          Yes
17  Self-Employed    High   Excellent          Yes
18        Student     Low     Average           No
19     Unemployed     Low        Poor           No
20       Employed  Medium        Good          Yes
21        Student  Medium        Poor           No
22  Self-Employed    High   Excellent          Yes
23       Employed    High        Good          Yes
24     Unemployed     Low        Poor           No

In [36]:
# def loge2(n)->float:
#   c=0
#   n=float(n)
#   c=float(c)
#   while(n>1):
#     n=float(n//2)
#     print("n= ",n)
#     c=float(c+1)
#   return c

# loge2(3)

from math import log2

In [37]:
# def entropy(y):
#   # Calculate entropy
#   # y=Loan approval
#   values ,count= np.unique(y, return_counts=True)
#   print("\n",count," -> ",count,"\n")

#   probabilities=count/count.sum() #probabilities
# # Entropy= -(E p.log2p)
#   for p in probabilities:
#     if p>0:
#       P+=p*log2(p)
#   return p

In [38]:
def entropy(y):
  # Calculate entropy
  # y=Loan approval column
  values ,count= np.unique(y, return_counts=True)
  probabilities=count/count.sum() #probabilities
# Entropy= -(E p.log2p)
  P=0
  for p in probabilities:
    if p>0:
      P+=p*log2(p)
  return -P

In [39]:
entropy(data['LoanApproval'])

np.float64(0.9988455359952018)

In [40]:
len(data)

4

In [41]:
data['CreditScore']

['Good',
 'Average',
 'Poor',
 'Average',
 'Good',
 'Poor',
 'Poor',
 'Average',
 'Good',
 'Poor',
 'Good',
 'Poor',
 'Average',
 'Good',
 'Excellent',
 'Poor',
 'Average',
 'Excellent',
 'Average',
 'Poor',
 'Good',
 'Poor',
 'Excellent',
 'Good',
 'Poor']

In [42]:
def gain(y):
  values ,count= np.unique(y, return_counts=True)
  child=0.0;
  for i in range(len(values)):
    subset = y[y == values[i]]
    child+=(count[i]/len(y))*entropy(subset)
  return entropy(data['LoanApproval'])-child

In [43]:
def gain(y):
  # values ,count= np.unique(y, return_counts=True)
  values=y.unique()
  child=0.0;
  # for i in range(len(values)):
  #   subset = y[y == count[i]]
  #   child+=(count[i]/len(y))*entropy(subset)
  for i in values:
    subset = df[df[y.name] == i]['LoanApproval']
    child+=(len(subset)/len(df))*entropy(subset)
  return entropy(df['LoanApproval'])-child

In [44]:
gain(df['CreditScore'])

np.float64(0.7588455359952018)

In [45]:
#check which attribute gives the max info gain
gains = {
    'Employment': gain(df['Employment']),
    'Income': gain(df['Income']),
    'CreditScore': gain(df['CreditScore'])
}
best_atri=max(gains, key=gains.get)

In [46]:
root = best_atri
for value in df[root].unique():
    subset = df[df[root] == value]
    print(f"\nSubset for {root} = {value}")
    print(subset)

Subset for Employment = Employed
   Employment  Income CreditScore LoanApproval
0    Employed    High        Good          Yes
1    Employed  Medium     Average          Yes
4    Employed    High        Good          Yes
7    Employed  Medium     Average          Yes
10   Employed    High        Good          Yes
13   Employed    High        Good          Yes
16   Employed  Medium     Average          Yes
20   Employed  Medium        Good          Yes
23   Employed    High        Good          Yes

Subset for Employment = Unemployed
    Employment  Income CreditScore LoanApproval
2   Unemployed     Low        Poor           No
6   Unemployed     Low        Poor           No
9   Unemployed  Medium        Poor           No
11  Unemployed     Low        Poor           No
15  Unemployed     Low        Poor           No
19  Unemployed     Low        Poor           No
24  Unemployed     Low        Poor           No

Subset for Employment = Student
   Employment  Income CreditScore LoanApproval
3     Student     Low     Average           No
5     Student  Medium        Poor           No
8     Student     Low        Good          Yes
12    Student     Low     Average           No
18    Student     Low     Average           No
21    Student  Medium        Poor           No

Subset for Employment = Self-Employed
       Employment Income CreditScore LoanApproval
14  Self-Employed   High   Excellent          Yes
17  Self-Employed   High   Excellent          Yes
22  Self-Employed   High   Excellent          Yes